.toolbar-container {
    min-height: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 4px;
}