.toolbar-item {
    width: 40px;
    height: 40px;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px #bebaba;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
}
button {
    display: inline-block;
    position: relative;
    padding: 20px;
    top: 0;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    background: #000000;
    color: #000000;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
    
    -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
    
    -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

button:hover {
  cursor: pointer;
  top: -10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

fa-icon {
    position: absolute;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}